<% if(rs.length > 0) { %>
Title: <%= 'User Ratings' %>
<ul>
    <% for(var i=0; i < rs.length; i++) {%>
    <li> <%= rs[i].movie_title %>  <%= rs[i].rating %> </li>
    <% } %>
</ul>

<% } else { %>
No Movies Rated! <%= movie_id %>.
<% } %>