<% include partials/header.ejs%>

<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th colspan="3">Users</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>

            <td><a href="/users/?user_id=<%= rs[i].user_id %>"> <%= rs[i].fname %></a></td>
            <td><a href="/users/?user_id=<%= rs[i].user_id %>"> <%= rs[i].lname %></a></td>
            <td><a href="/users/delete/?user_id=<%= rs[i].user_id %>">Delete</a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No users exist.
    <% } %>
</div>




<div style="margin-top:10px;">
    <a href="/users/create">Create New User</a>
</div>

<% include partials/footer.ejs%>