 <% include partials/header.ejs%>

  <div id="content">

    <a href="/users/create">Create a New User</a>
        <br>
        <br>


    <a href="/state/create">Create a New State</a>
    <br>
    <br>


    <a href="/login">Login</a>
    <br>
    <br>





    <table id="course" style="width:75%">
      <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Professor</th>
      </tr>
      <tr>
        <td>CS 252</td>
        <td>Introduction to Computer Organization</td>
        <td>Lyle</td>
      </tr>
      <tr>
        <td>CS 355</td>
        <td>Database Design and Management</td>
        <td>Haderman</td>
      </tr>
      <tr>
        <td>CS 215</td>
        <td>Programming II</td>
        <td>Watts</td>
      </tr>
    </table>

    <br/>
    <br/>

    Top 3 Things I Have Learned
    <ol>
      <li>How databases are created</li>
      <li>Creating an Android app from scratch</li>
      <li>Programming ARM Microprocessors</li>
    </ol>

    <br/>

    3 Things I Want to Learn
    <ul>
      <li>How to design web pages using HTML & CSS</li>
      <li>Creating a game using a professional gaming engine</li>
      <li>The differences between Java and C++</li>
    </ul>

    <script>
     function popup() {
            alert("Hello! You pressed the click me button!");
     }
    </script>

    <button onclick="popup()">Click me</button>
    <br/>
    <br/>
  </div>

 <% if(typeof msg !== "undefined") { %>
 <%= msg %>
 <% } %>

<% include partials/footer.ejs%>

