<% include partials/header %>

<h1>Add a New User</h1>
<form method="POST" action="/users/insert_user">
    Username<input type="text" id="username" name="username" /> <br />
    First Name<input type="text" id="fname" name="fname" /> <br />
    Last Name<input type="text" id="lname" name="lname" /> <br />
    Email<input type="text" id="email" name="email" /> <br />
    Password<input type="password" id="pword" name="pword" /> <br />
    <br />

    State of Residence<br />

    <select name="state_id">
        <% for( var i = 0; i < usStates.length; i++) { %>
        <option value="<%= usStates[i].state_id %>" > <%= usStates[i].statename %> </option>
        <% } %>
    </select>
    <br><br>






    <br />

    <button id="addBtn">Add</button>
</form>
<% include partials/footer %>

